.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 4px;
  border: none;
}
